<%- include('partials/header.ejs'); %>
<h1>購入結果</h1>
<p class="error">!!<%= result %>が不足しています!!</p>
<h2>購入に失敗しました。初めからやり直してください。</h2>
<p class="index_link"><a href="/">戻る</a></p>
<%- include('partials/footer.ejs'); %>